.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://nsm09.casimages.com/img/2020/07/05/20070510051725536216904186.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.rgba-black-slight,
.rgba-black-slight:after{
    background-color:rgba(0,0,0,.1)
}
#slogan1{
    color: #ffffff !important;
}
#slogan{
    color: #ffffff !important;
}
.jumbotron{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius:.125rem;
    border-radius:.125rem;
    background-color:#fff
}
.jumbotron{background-color:rgba(255,255,255,.2);padding:2rem}
#ren-nav{
    background: #113549 !important;
}

.nav-link{
    color: #ffffff !important;
}

.navbar-brand{
    color: #ffffff !important;
    font-weight: bold;
}
#welcome{
    color: white;
}
.lead{
    text-transform: lowercase;
    color: #f0f0f0;
    font-weight: 400;
}

