.footer-copyright{
    background: #365e76 !important;
    color: white !important;
}

.info-color-dark{
    background: #113549 !important;
    color: white !important;
}

#basic-addon9{
    color: white;
    background: #113549 !important;
}
#Nletter{
    color: white;
    background: #113549 !important;
}
.btn-outline-white{
    border:2px solid #fff!important;
    background-color:transparent!important;
    color:#fff!important
}

.btn-outline-white.active,
.btn-outline-white:active,
.btn-outline-white:active:focus,
.btn-outline-white:focus,
.btn-outline-white:hover{
    border-color:#fff!important;
    background-color:transparent!important;
    color:#fff!important
}
.btn-outline-white:not([disabled]):not(.disabled).active,
.btn-outline-white:not([disabled]):not(.disabled):active,
.show>.btn-outline-white.dropdown-toggle{
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    background-color:transparent!important;
    border-color:#fff!important
}
.btn-outline-white:not([disabled]):not(.disabled).active:focus,
.btn-outline-white:not([disabled]):not(.disabled):active:focus,
.show>.btn-outline-white.dropdown-toggle:focus{
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.btn-black{
    background-color:#000!important;
    color:#fff
}
.bio{
    padding: 4px !important;
}
.lighten-5 {
    background-color: #eceff1!important
}
.dark-grey-text,
.dark-grey-text:focus,
.dark-grey-text:hover {
    color: #4f4f4f!important
}

.lighten-4 {
    background-color: #ffffff!important
}

.card.card-cascade .view.view-cascade{-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);-webkit-border-radius:.25rem;border-radius:.25rem}.card.card-cascade .view.view-cascade.gradient-card-header{padding:1.6rem 1rem;text-align:center}
.card.card-cascade .view.view-cascade.gradient-card-header .btn-floating{
    background-color:rgba(255,255,255,.2)
}
.card.card-cascade.wider{
    -webkit-box-shadow:none;box-shadow:none;background-color:transparent
}
.card.card-cascade.wider .view.view-cascade{
    z-index:2
}
.card.card-cascade.wider .card-body.card-body-cascade{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin-left:4%;
    margin-right:4%;
    background:#fff;
    z-index:1;
    -webkit-border-radius:0 0 .25rem .25rem;
    border-radius:0 0 .25rem .25rem
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade{
    z-index:3;margin-top:-1rem;
    -webkit-border-radius:.25rem;
    border-radius:.25rem;
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.card-wrapper .back,
.card-wrapper .front,
.pricing-card .price .version{
     -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
 }
.card.card-cascade.narrower{margin-top:1.25rem}
.card.card-cascade.narrower .view.view-cascade{
    margin-left:4%;
    margin-right:4%;
    margin-top:-1.25rem
}
.card.card-cascade.panel-cascade .view{text-align:center;color:#fff}
.card.card-cascade.panel-cascade .list-group .list-group-item{
    margin-bottom:0;
    border:0;
    border-bottom:1px solid #eee;
    color:#495057
}
.card.card-cascade.panel-cascade .list-group .list-group-item:hover{
    background-color:#eee}
.card .btn-action{margin-top:-1.44rem;margin-bottom:-1.44rem}
.card .activator{position:absolute;right:0;font-size:1.2rem}
.card .card-reveal{
    position:absolute;
    width:100%;
    overflow-y:auto;
    top:100%;height:100%;z-index:1;display:none
}
.card{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);border:0;font-weight:400}
.card[class*=border]{
    border:1px solid #9e9e9e;
    -webkit-box-shadow:none;
    box-shadow:none
}
.navbar,.pagination .page-item.active .page-link{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6{
    font-weight:400
}
.card .card-body .card-title a,
 .card .card-body .card-title a:hover{
    -webkit-transition:.2s ease-in-out;
    -o-transition:.2s ease-in-out;
    transition:.2s ease-in-out
}
.card .card-body .card-text{
    color:#747373;
    font-size:.9rem;
    font-weight:400
}
.card .md-form label{
    font-weight:300
}